/* INFOPREVIEW STYLES */

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin flex-y-center {
  display: flex;
  align-items: center;
}

$muted: rgb(160, 160, 160);
$yellow: #fc0;

.info-preview {
  height: 80%;
  width: 100%;
  @include flex-col();
  @include flex-xy-center();

  @include mobile {
    height: 70%;
  }
  .preview-box {
    @include flex-col();
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;

    @include mobile {
      height: 90%;
    }

    h3 {
      color: $muted;
      margin: 0;
    }
    .line {
      width: 3%;
      height: 4px;
      border-radius: 1px;
      background: $muted;
      @include mobile {
        width: 10%;
      }
    }

    .subject,
    .no-meeting {
      color: #fff;
      font-size: 3rem;
      max-width: 80%;
      text-align: center;
      margin: 0;

      @include mobile {
        font-size: 2.5em;
      }
    }

    .progress {
      @include flex-y-center();
      width: 50%;

      height: 1rem;
      span {
        color: $muted;
      }
      .progress-bar {
        margin: 0 1em;
        background: $muted;
        width: 80%;
        height: 100%;
        max-height: 0.5rem;
        border-radius: 5px;
        .bar-filling {
          height: 100%;
          width: 0%;
          background: $yellow;
          border-radius: 5px;
        }
      }

      @include mobile {
        width: 100%;
        padding: 0 1em;
        box-sizing: border-box;
      }
    }

    .organizer {
      color: $muted;
    }
  }
}
