/* Mixins */
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-x-center {
  display: flex;
  justify-content: center;
}

@mixin flex-y-center {
  display: flex;
  align-items: center;
}

@mixin mobile {
  @media (max-width: 700px) {
    @content;
  }
}

$muted: rgb(160, 160, 160);
$yellow: #fc0;

body {
  background: url("assets/img/bg-image.jpg");
  background-size: cover;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;

  @include mobile {
    background: none;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.main-container {
  display: flex;
  max-height: 100%;
  max-width: 100%;

  @include mobile {
    flex-direction: column;
  }
}

.left-side {
  flex: 7;
  height: 100vh;
  flex-direction: column;

  @include mobile {
    background: url("assets/img/bg-image.jpg");
    background-size: cover;
  }
}

.right-side {
  flex: 3;
  height: 100vh;
  background: #fff;
}
