/* Mixins */
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-x-center {
  display: flex;
  justify-content: center;
}

@mixin flex-y-center {
  display: flex;
  align-items: center;
}

@mixin mobile {
  @media (max-width: 700px) {
    @content;
  }
}

$muted: rgb(160, 160, 160);
$yellow: #fc0;

body {
  background: url("assets/img/bg-image.jpg");
  background-size: cover;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;

  @include mobile {
    background: none;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.main-container {
  display: flex;
  max-height: 100%;
  max-width: 100%;

  @include mobile {
    flex-direction: column;
  }
}

.left-side {
  flex: 7;
  height: 100vh;
  flex-direction: column;

  @include mobile {
    background: url("assets/img/bg-image.jpg");
    background-size: cover;
  }
}

.right-side {
  flex: 3;
  height: 100vh;
  background: #fff;
}

/* INFOPREVIEW STYLES */
.info-preview {
  height: 80%;
  width: 100%;
  @include flex-col();
  @include flex-xy-center();

  @include mobile {
    height: 70%;
  }
  .preview-box {
    @include flex-col();
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;

    @include mobile {
      height: 90%;
    }

    h3 {
      color: $muted;
      margin: 0;
    }
    .line {
      width: 3%;
      height: 4px;
      border-radius: 1px;
      background: $muted;
      @include mobile {
        width: 10%;
      }
    }

    .subject,
    .no-meeting {
      color: #fff;
      font-size: 3rem;
      max-width: 80%;
      text-align: center;
      margin: 0;

      @include mobile {
        font-size: 2.5em;
      }
    }

    .progress {
      @include flex-y-center();
      width: 50%;

      height: 1rem;
      span {
        color: $muted;
      }
      .progress-bar {
        margin: 0 1em;
        background: $muted;
        width: 80%;
        height: 100%;
        max-height: 0.5rem;
        border-radius: 5px;
        .bar-filling {
          height: 100%;
          width: 0%;
          background: $yellow;
          border-radius: 5px;
        }
      }

      @include mobile {
        width: 100%;
        padding: 0 1em;
        box-sizing: border-box;
      }
    }

    .organizer {
      color: $muted;
    }
  }
}
/* INFOFOOTER STYLES */

.info-footer {
  width: 100%;
  height: 20%;
  background: rgba(30, 30, 40, 0.4);
  @include mobile {
    padding: 1em;
    box-sizing: border-box;
    height: 30%;
  }
  ul {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    padding: 0;
    li {
      margin: 0 1em;
      width: 25%;
      .time,
      .organizer {
        color: $muted;
        margin: 0;
      }

      .subject {
        color: #fff;
        margin: 0;
      }

      @include mobile {
        @include flex-col();
        padding: 1em 0;
        justify-content: space-between;
        height: 100%;
        font-size: 0.8rem;
        width: 30%;
      }
    }
  }
}

/* SCHEDULE STYLES */
.schedule {
  height: 100%;
  width: 100%;

  .schedule-header {
    max-width: 100%;
    height: 5%;
    padding: 1em;
    @include flex-col();
    justify-content: center;

    .muted {
      color: $muted;
      margin: 0;
    }

    h2 {
      margin: 0;
      font-weight: 600;
    }

    box-shadow: 0px 15px 50px #fff;
  }

  .meeting-list-container {
    width: 100%;
    height: 80%;

    @include mobile {
      height: 100%;
    }
    .meeting-list {
      max-width: 100%;
      height: 80%;
      overflow-y: scroll;
      padding: 0 1em;
      position: relative;
      .decoration-stick {
        @include flex-y-center();
        width: 78%;
        position: absolute;
        left: 18%;
        z-index: 2000;
        .circle {
          height: 15px;
          width: 15px;
          background: $yellow;
          border-radius: 100%;
        }
        .line {
          height: 5px;
          width: 100%;
          background: $yellow;
        }
      }
      .meeting-list-item {
        height: 10%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        position: relative;

        .time {
          height: 1rem;
          width: 20%;
          margin-top: -5px;
          z-index: 0;
        }

        .line {
          width: 80%;
          box-shadow: inset 0px 2px 2px -2px $muted;
          height: 2px;
          z-index: 0;
        }

        .meeting-preview {
          width: 80%;
          height: 200%;
          background: #fff;
          z-index: 1000;
          position: absolute;
          border-left: 5px solid $yellow;
          left: 20%;
          box-shadow: 0px 0px 4px $muted;
          box-sizing: border-box;
          cursor: pointer;
          @include flex-col();
          padding: 1em;
          h5 {
            margin: 0;
            font-weight: 600;
          }

          .muted {
            color: $muted;
            margin: 0;
          }
        }
      }
    }
  }
}

/* MEETINGDETAIL STYLES */
.meeting-detail-container {
  height: 100%;
  width: 100%;

  .meeting-detail-header {
    max-width: 100%;
    height: 5%;
    padding: 1em;
    background: $yellow;
    display: flex;
    align-items: center;
    i {
      color: #fff;
      margin: 0 1em;
      font-size: 2rem;
    }

    .subject {
      margin: 0;
      font-weight: 600;
    }
  }

  .meeting-info-block {
    display: flex;
    height: 5%;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid $muted;

    img {
      margin: 1em;
      height: 2em;
      width: auto;
    }

    p {
      font-weight: 600;
    }

    .toggle {
      margin-left: auto;
      i {
        font-size: 2rem;
      }
    }
  }

  .show-participants {
    height: 18vh;
    border-bottom: 1px solid $muted;
    overflow-y: auto;
    overflow-x: hidden;

    @include mobile {
      height: 30vh;
    }
    .participant-list {
      width: 100%;
      height: 15vh;
      .participant {
        @include flex-y-center();
        padding: 0.5em 1.5em;
        .participant-thumbnail {
          height: 2rem;
          width: 2rem;
          margin: 0 1em;
          background: $muted;
          border-radius: 100%;
        }

        p {
          margin: 0;
        }

        .participant-title {
          font-size: 0.8rem;
          color: $muted;
        }
      }
    }
  }

  .no-participants {
    text-align: center;
    p {
      color: $muted;
    }
  }

  .meeting-description-text {
    padding: 1em;
    display: flex;
    justify-content: center;

    .description-text {
      color: $muted;
      width: 80%;
    }
  }
}
